<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- The way you identify a variable in ejs -->
    <h1>Hello <%=name%>
    </h1>
    <p>Age: <%=age%>
    </p>
    <p>Age: <%=gender%>
    </p>

    <!-- You can any JS code between ejs tags -->
    <% if(name==='Ahmed' ) {%>
        <div>Ahmed</div>
        <%}%>
</body>

</html>